{% extends "./base.html" %}

{% block title %} Calendar_test {% endblock %}

{% block content %}

<p2> Calendar </p2>

<!-- {% if user.is_authenticated %} -->

<!-- {% endif %} -->

<button id="btnNextWeek">Next</button>

<table class='table' id='table_calendar'>

</table>



<script>

    // update calendar by sending a request to the server 
    function update_calendar(doctor_id, year, week_number) {
        const request = new XMLHttpRequest();
        request.open('GET', '/appointment/api/calendar/' + doctor_id + '/' + year + '/' + week_number + '/');
        request.send();

        request.onload = function () {
            if (request.status == 200) {
                alert("Received");
                //console.log(request.response)
                let table = document.getElementById('table_calendar');
                table.innerHTML = request.response;
            }
        };

    };


    // event listener for the NextWeek Button
    document.getElementById("btnNextWeek").addEventListener("click", function () {

        // 
        doctor_id = "1"
        year = "2022"
        week_number = "1"
        update_calendar(doctor_id, year, week_number);
    });


</script>


{% endblock %}