{% extends "./base.html" %}

{% block title %} Calendar_test {% endblock %}

{% block content %}

<div class="row">
    <p2> Calendar </p2>
</div>
<!-- {% if user.is_authenticated %} -->

<!-- {% endif %} -->

<div class="row">

    <div class="btn-group" role="group">
        <div class="col">
            <button type="button" class="btn btn-success float-start btn-lg" id="btnPreviousWeek">&#x3c;&#x3c; Previous
                Week</button>
        </div>

        <div class="col">
            <button type="button" class="btn btn-success float-end btn-lg" id="btnNextWeek"> &ensp; &ensp;Next Week
                &#x3e;&#x3e;</button>
        </div>
    </div>

</div>

<table class='table' id='table_calendar'></table>

<!-- A JavaScript date library for parsing, validating, manipulating, and formatting dates. -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>

<script>

    // update week calendar  
    function update_calendar(doctor_id, year, week_number) {
        const request = new XMLHttpRequest();
        request.open('GET', '/appointment/api/calendar/' + doctor_id + '/' + year + '/' + week_number + '/');
        request.send();

        request.onload = function () {
            if (request.status == 200) {
                let table = document.getElementById('table_calendar');
                table.innerHTML = request.response;
            }
        };
        return true;
    };

    // return a number of isoweeks in the sent year
    function get_number_of_weeks(year) {

        const year_js = moment().year(year);
        return year_js.weeksInYear();
    };

    // increment week number by one and update calendar
    function increment_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);

        week_number += 1;

        const number_of_weeks = get_number_of_weeks(year);

        if (week_number > number_of_weeks) {

            // if the incremented week does not exist in the current year then we need to switch
            // to the first week of the next year

            year += 1;
            sessionStorage.setItem("year", year);

            week_number = 1;
        }

        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number);

    return true;
    };

    // decrement week number by one and update calendar
    function decrement_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);


        // special care needs to be taken when the current week is one and we are going to decrement this
        if (week_number == 1) {

            // we need to decrement the year as week 0 does not exist
            year -= 1;

            //we need to check how many weeks are in the decremented year
            let number_of_weeks = get_number_of_weeks(year);

            // and assign this number to the week counter
            week_number = number_of_weeks;

        } else {

            // just decrement when we are no in the edge
            week_number -= 1;

        }

        sessionStorage.setItem("year", year);
        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number);

    return true;
    };

</script>

<script>

    // store the original values for year and week_number passed into the template    
    sessionStorage.setItem("year", {{ year }});
    sessionStorage.setItem("week_number", {{ week_number }});


    // declaration for the event listener for Next week button
    document.getElementById("btnNextWeek").addEventListener("click", function () {

        increment_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });


    // declaration for the event listener for Previous week button
    document.getElementById("btnPreviousWeek").addEventListener("click", function () {

        decrement_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });

    // 
    document.onload = update_calendar({{ doctor_id }}, {{ year }}, {{ week_number }});

</script>


{% endblock %}