b'<table class=\'table\' id=\'table_calendar\'>\n <thead>\n <tr>\n <th class=\'text-center\' colspan=\'7\'>February 2023
            </th>\n </tr>\n <tr>\n <th scope="col">Mon</th>\n <th scope="col">Tue</th>\n <th scope="col">Wed</th>\n <th
                scope="col">Thu</th>\n <th scope="col">Fri</th>\n <th scope="col">Sat</th>\n <th scope="col">Sun</th>\n
        </tr>\n </thead>
    <tbody class=\'table-group-divider\'>
        <tr>
            <td>27<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'27-02-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'27-02-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>28<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'28-02-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'28-02-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>01<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'01-03-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'01-03-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>02<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'02-03-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'02-03-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>03<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'03-03-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-warning\' data-date=\'03-03-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>04<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'04-03-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'04-03-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>05<table class=\'table table-hover one-day-column\'>
                    <tbody>
                        <tr>
                            <td class=\'table-success\' data-date=\'05-03-2023 07:00\'>07:00</td>
                        </tr>
                        <tr>
                            <td class=\'table-success\' data-date=\'05-03-2023 07:20\'>07:20</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>'