{% extends "./base.html" %}

{% block title %} Request Days off {% endblock %}

{% block nav %}
{% include "./nav_doctor.html" %}
{% endblock %}

{% block content %}

{% if messages %}

{% for message in messages %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endfor %}

{% endif %}

<script>

    function checkform() {

        // this is manual form check

        let form = document.getElementById("date_form");

        let date_from = document.getElementById("date_from").value;
        let date_till = document.getElementById("date_till").value;

        if (date_from == "" || date_from == "") {
            alert("Please enter the date From and To");
            return false;
        }

        date_from = Date.parse(date_from);
        date_till = Date.parse(date_till);

        if (date_from > date_till) {
            alert("The datetime From should be less than datetime To");
            return false;
        }

        form.submit();

    };

</script>


<script>
    var onClick = function (daysoff_id, object) {

        if (confirm("Are sure you want to cancel your days off?")) {
            //adopted from here https://stackoverflow.com/questions/73436370/django-button-redirecting-to-url-index
            // https://stackoverflow.com/questions/17832194/get-javascript-variables-value-in-django-url-template-tag
        document.location.href = "{% url 'appointments_app:cancel_daysoff' 999 %}".replace('999', daysoff_id);
        } else {
            return false;
        }
        
    };


</script>


<div class="row mt-3">
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <span class="navbar-brand mb-1 h1">Days off</span>
        </div>
    </nav>

</div>

<div class="row mt-3">


    <div class="col  justify-content-center text-center">

        <div class="row mt-3">
            <nav class="navbar navbar-light ">
                <div class="container-fluid justify-content-center text-center">
                    <span class="navbar-brand mb-1 ">Book Days off</span>
                </div>
            </nav>

        </div>

        <form id='date_time_form' method='post'>

            {% csrf_token %}

            <p>
            <div class="form-group">
                <label for="date_from">From: </label> <br>
                <input type="date" id="date_from" name="date_from" required />
            </div>
            </p>

            <p>
            <div class="form-group">
                <label for="date_till">To: </label> <br>
                <input type="date" id="date_till" name="date_till" required />
            </div>
            </p>

            <button type="submit" class="btn btn-primary" onclick="return checkform();">Submit</button>

        </form>
    </div>

    <div class="col justify-content-center text-center">

        <nav class="navbar navbar-light ">
            <div class="container-fluid justify-content-center text-center">
                <span class="navbar-brand mb-1 ">List of Booked Days off</span>
            </div>
        </nav>

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">From</th>
                    <th scope="col">TO</th>
                    <th scope="col">status</th>
                    <th scope="col"></th>

                </tr>
            </thead>


            <tbody>
                {% for dayoff in daysoff_list %}
                <tr>
                    <td>{{ dayoff.date_from }}</td>
                    <td>{{ dayoff.date_till }}</td>
                    <td>{{ dayoff.daysoff_status }}</td>

                    
                    {% if dayoff.daysoff_status.status != "Cancelled" %}

                    <td>
                        <button type="button" class="btn btn-primary"
                            onclick="onClick('{{ dayoff.pk }}', this)">Cancel</button>
                            
                    </td>
                    
                    {% endif %}
                    
                    

                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
</div>




{% endblock %}