{% extends "./base.html" %}

{% block title %} Calendar_test {% endblock %}

{% block content %}

<div class="row">
    <p2> Calendar </p2>
</div>
<!-- {% if user.is_authenticated %} -->

<!-- {% endif %} -->

<div class="row">

    <div class="btn-group" role="group">
        <div class="col">
            <button type="button" class="btn btn-success float-start btn-lg" id="btnPreviousWeek">&#x3c;&#x3c; Previous
                Week</button>
        </div>

        <div class="col">
            <button type="button" class="btn btn-success float-end btn-lg" id="btnNextWeek"> &ensp; &ensp;Next Week
                &#x3e;&#x3e;</button>
        </div>
    </div>

</div>

<table class='table' id='table_calendar'></table>


<!-- Adopted from https://getbootstrap.com/docs/5.0/components/modal/ -->
<!-- Modal window-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex=">
    aria-labelledby=" staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal_body">
                No text
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <form action="" method="post">
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- A JavaScript date library for parsing, validating, manipulating, and formatting dates. -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>



<script>

    // Table cell onClick event listener
    function onCellClick(e) {

        const cell = e.target.closest('td');


        if (!cell) {
            return;
        }

        if (cell.className == 'table-success') {
            console.log("Green cell");
        } else if (cell.className == 'table-secondary') {
            console.log("Gray cell");
        } else if (cell.className == 'table-danger') {
            console.log("red cell");
        }

        // reading date and time from data-date attribute
        const data_date = cell.dataset.date

        // if (td_date) {
        //     console.log(td_date)

        // }

        // const trow = cell.parentElement;
        // console.log(cell.innerHTML, trow.rowIndex, cell.cellIndex);

        // week_day = ""

        // switch (cell.cellIndex) {
        //     case 0:
        //         console.log("Monday");
        //         week_day = "Monday"
        //         break;
        //     case 1:
        //         console.log("Tuesday");
        //         week_day = "Tuesday"
        //         break;
        //     case 2:
        //         console.log("Wednsday");
        //         week_day = "Wednsday"
        //         break;

        //     default:
        //     // code block
        // }

        // get body element from the modal dialog and add text
        const mbody = document.getElementById('modal_body');
        mbody.innerHTML = data_date;


        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
            keyboard: false
        });

        myModal.show();
    };

    function addEventListeners() {

        const day_columns = document.getElementsByClassName('table table-hover one-day-column');

        for (var i = 0; i < day_columns.length; i++) {
            day_columns[i].addEventListener("click", onCellClick);
        }
    };



</script>

<script>

    // update week calendar  
    function update_calendar(doctor_id, year, week_number, mycallback) {
        const request = new XMLHttpRequest();
        request.open('GET', '/appointment/calendar/' + doctor_id + '/' + year + '/' + week_number + '/');
        request.send();

        request.onload = function () {
            if (request.status == 200) {
                let table = document.getElementById('table_calendar');
                table.innerHTML = request.response;
                mycallback();
            }
        };


        return true;
    };

    // return a number of isoweeks in the sent year
    function get_number_of_weeks(year) {

        const year_js = moment().year(year);
        return year_js.weeksInYear();
    };

    // increment week number by one and update calendar
    function increment_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);

        week_number += 1;

        const number_of_weeks = get_number_of_weeks(year);

        if (week_number > number_of_weeks) {

            // if the incremented week does not exist in the current year then we need to switch
            // to the first week of the next year

            year += 1;
            sessionStorage.setItem("year", year);

            week_number = 1;
        }

        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number, addEventListeners);

    return true;
    };

    // decrement week number by one and update calendar
    function decrement_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);


        // special care needs to be taken when the current week is one and we are going to decrement this
        if (week_number == 1) {

            // we need to decrement the year as week 0 does not exist
            year -= 1;

            //we need to check how many weeks are in the decremented year
            let number_of_weeks = get_number_of_weeks(year);

            // and assign this number to the week counter
            week_number = number_of_weeks;

        } else {

            // just decrement when we are no in the edge
            week_number -= 1;

        }

        sessionStorage.setItem("year", year);
        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number, addEventListeners);

    return true;
    };

</script>

<script>

    // store the original values for year and week_number passed into the template    
    sessionStorage.setItem("year", {{ year }});
    sessionStorage.setItem("week_number", {{ week_number }});


    // declaration for the event listener for Next week button
    document.getElementById("btnNextWeek").addEventListener("click", function () {

        increment_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });


    // declaration for the event listener for Previous week button
    document.getElementById("btnPreviousWeek").addEventListener("click", function () {

        decrement_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });

</script>


<script>

    document.onload = update_calendar({{ doctor_id }}, {{ year }}, {{ week_number }}, addEventListeners);

</script>





{% endblock %}