{% extends "./base.html" %}

{% block title %} Calendar_test {% endblock %}

{% block nav %} 
{% include "./nav_patient.html" %}
{% endblock %}

{% block content %}

{% if messages %}

{% for message in messages %}

{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endif %}

{% endfor %}

{% endif %}

<div class="row">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <span class="navbar-brand h1">{{ doctor_name }}</span>
        </div>
    </nav>
</div>

<div class="row">

    <div class="btn-group" role="group">
        <div class="col">
            <button type="button" class="btn btn-success float-start btn-lg" id="btnPreviousWeek">&#x3c;&#x3c; Previous
                Week</button>
        </div>

        <div class="col">
            <button type="button" class="btn btn-success float-end btn-lg" id="btnNextWeek"> &ensp; &ensp;Next Week
                &#x3e;&#x3e;</button>
        </div>
    </div>

</div>

<div class="row">

    <table class='table' id='table_calendar'></table>
</div>

<!-- Adopted from https://getbootstrap.com/docs/5.0/components/modal/ -->
<!-- Modal window-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex=">
    aria-labelledby=" staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form action="None" method="post" name="modalForm">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFormTitle">Title_none</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal_body">
                    No text
                </div>
                <!-- Textarea for entering symptoms -->
                <div class="modal-body" id="modal_symptoms">                    
                </div>
                <div class="modal-footer" id="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close window</button>
                    <input type="hidden" name="doctor" value={{ doctor_id }} />                    
                    <button type="submit" class="btn btn-primary" id="modalFormSubmitButton">None</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- A JavaScript date library for parsing, validating, manipulating, and formatting dates. -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>



<script>

    // Table cell onClick event listener
    function onCellClick(e) {

        const cell = e.target.closest('td');

        // store the colour of the current cell
        colour_cell = '';


        if (!cell) {
            return;
        }

        if (cell.className == 'table-success') {
            console.log("Green cell");
            colour_cell = 'green';
        } else if (cell.className == 'table-secondary') {
            console.log("Gray cell");
            return;
        } else if (cell.className == 'table-danger') {
            console.log("Red cell - no booking possible, however it is possible to add this timeslot into wish list");
            colour_cell = 'red';
        // Blue cell
        } else if (cell.className =='table-primary'){
            console.log("Blue cell");
            colour_cell = 'blue';

        } else if (cell.className =='table-warning'){
            console.log("yellow cell");
            colour_cell = 'yellow';

        }else{
            console.log("onCellClick - cell has no colour or colour is unknown.");
            return;
        }            

        // reading date and time from data-date attribute
        const data_date = cell.dataset.date;

        // get body element from the modal dialog and add text
        const mbody = document.getElementById('modal_body');
        mbody.innerHTML = '<h6>' + '{{ doctor_name }}' + '</h6>' + '<p>' + data_date + '</p>';

        // Adding appointment date and time as a hidden input to be sent to the server
        const modalfooter = document.getElementById('modal-footer');
        modalfooter.innerHTML += "<input type='hidden' id='appointment_date' name='appointment_date' value= " + "'" + data_date + "'" + " />";

        // depending on the cell colour we define the behaviour of the modal window
        if (colour_cell == 'green'){

            // patient can book an appointment for the green timeslots 
            document.modalForm.action = "{% url 'appointments_app:book_appointment' %}";
            const submit_button = document.getElementById('modalFormSubmitButton');
            submit_button.innerText ='Book';

            // update modal window title
            const form_title = document.getElementById('modalFormTitle');
            form_title.innerText ='Book appointment?';
            
            // add symptom text box with a lable  
            const msymptoms = document.getElementById('modal_symptoms');
            msymptoms.innerHTML = "<h6>Enter your symptoms here: </h6>";
            msymptoms.innerHTML += "<textarea id='symptoms' name='symptoms' rows='4' cols='44' required></textarea>"                              

        } else if (colour_cell == 'blue' || colour_cell == 'yellow'){

            // patient can cancel the appointment for the blue timeslots

            // update the url in the form to one that allows to cancel an appointment 
            // and update modal window labels 
            document.modalForm.action = "{% url 'appointments_app:cancel_appointment' %}";
            const submit_button = document.getElementById('modalFormSubmitButton');
            submit_button.innerText ='Cancel Appointment';
            
            //update title of modal window
            const form_title = document.getElementById('modalFormTitle');
            form_title.innerText ='Cancel appointment?';

        } else if (colour_cell == 'red'){

            // patient can add this timeslot into wish list
            document.modalForm.action = "{% url 'appointments_app:add_to_wishlist' %}";
            const submit_button = document.getElementById('modalFormSubmitButton');
            submit_button.innerText ='Add to Wish List';

            // update modal window title
            const form_title = document.getElementById('modalFormTitle');
            form_title.innerText ='Add to wish list?';
            
            // add symptom text box with a lable  
            const msymptoms = document.getElementById('modal_symptoms');
            msymptoms.innerHTML = "<h6>Enter your symptoms here: </h6>";
            msymptoms.innerHTML += "<textarea id='symptoms' name='symptoms' rows='4' cols='44' required></textarea>"           

        } else {
            console.log('onCellClick -- Error something wrong colour is not defined. ');
            return;
        }

        var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
            keyboard: false
        });

        // show modal window
        myModal.show();
    };

    // this is called as a callback to assign event listeners for html-table cells
    function addEventListeners() {

        const day_columns = document.getElementsByClassName('table table-hover one-day-column');

        for (var i = 0; i < day_columns.length; i++) {
            day_columns[i].addEventListener("click", onCellClick);
        }
    };



</script>

<script>

    // update week calendar  
    function update_calendar(doctor_id, year, week_number, mycallback) {
        const request = new XMLHttpRequest();
        request.open('GET', '/appointment/calendar/' + doctor_id + '/' + year + '/' + week_number + '/');
        request.send();

        request.onload = function () {
            if (request.status == 200) {
                let table = document.getElementById('table_calendar');
                table.innerHTML = request.response;
                mycallback();
            }
        };

        return true;
    };

    // return a number of isoweeks in the sent year
    function get_number_of_weeks(year) {

        const year_js = moment().year(year);
        return year_js.weeksInYear();
    };

    // increment week number by one and update calendar
    function increment_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);

        week_number += 1;

        const number_of_weeks = get_number_of_weeks(year);

        if (week_number > number_of_weeks) {

            // if the incremented week does not exist in the current year then we need to switch
            // to the first week of the next year

            year += 1;
            sessionStorage.setItem("year", year);

            week_number = 1;
        }

        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number, addEventListeners);

    return true;
    };

    // decrement week number by one and update calendar
    function decrement_week_number() {

        year = parseInt(sessionStorage.getItem("year"), 10);
        week_number = parseInt(sessionStorage.getItem("week_number"), 10);


        // special care needs to be taken when the current week is one and we are going to decrement this
        if (week_number == 1) {

            // we need to decrement the year as week 0 does not exist
            year -= 1;

            //we need to check how many weeks are in the decremented year
            let number_of_weeks = get_number_of_weeks(year);

            // and assign this number to the week counter
            week_number = number_of_weeks;

        } else {

            // just decrement when we are no in the edge
            week_number -= 1;

        }

        sessionStorage.setItem("year", year);
        sessionStorage.setItem("week_number", week_number);

        update_calendar({{ doctor_id }}, year, week_number, addEventListeners);

    return true;
    };

</script>

<script>

    // store the original values for year and week_number passed into the template    
    sessionStorage.setItem("year", {{ year }});
    sessionStorage.setItem("week_number", {{ week_number }});


    // declaration for the event listener for Next week button
    document.getElementById("btnNextWeek").addEventListener("click", function () {

        increment_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });


    // declaration for the event listener for Previous week button
    document.getElementById("btnPreviousWeek").addEventListener("click", function () {

        decrement_week_number();

        // https://stackoverflow.com/questions/72494154/a-listener-indicated-an-asynchronous-response-by-returning-true-but-the-messag
        return true;

    });

</script>


<script>

    document.onload = update_calendar({{ doctor_id }}, {{ year }}, {{ week_number }}, addEventListeners);

</script>

{% endblock %}