{% extends "./base.html" %}



{% block title %} Home page - Patient {% endblock %}

{% block nav %}
{% include "./nav_patient.html" %}
{% endblock %}


{% block content %}

{% if user.is_authenticated %}


<div class="row">


    <!-- <p class="h1">Home page - Patient </p> -->
    <!-- <h4>Hello {{ user.first_name }} {{ user.last_name }} </h4> -->

    <!-- As a heading -->
    <nav class="navbar navbar-light ">
        <div class="container-fluid">
            <p class="navbar-brand mb-1 h1">Hello {{ user.username }} </p>
        </div>
    </nav>

</div>

<div class="row">

    <div class="col">

        <!-- As a heading -->
        <div class="col">
            <nav class="navbar navbar-light ">
                <div class="container-fluid">
                    <span class="navbar-brand mb-1 ">List of upcoming and previous appointments.</span>
                </div>
            </nav>

        </div>

        <!-- <h6> List of upcoming and previous appointments </h6> <br> -->

        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.appointment_date }}</th>
                    <td>Dr. {{ appointment.doctor.user.last_name }}</td>
                    <td>{{ appointment.appointment_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Wish List -->
    <div class="col">
        <nav class="navbar navbar-light ">
            <div class="container-fluid">
                <span class="navbar-brand mb-1 ">Wish list</span>
            </div>
        </nav>


        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Doctor</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in wishlist %}
                <tr>
                    <td>{{ entry.appointment_date }}</td>
                    <td>Dr. {{ entry.doctor.user.last_name }}</td>
                    <td>{{ entry.wishlist_status }}</td>

                    {% if entry.wishlist_status.status == "Available" %}

                    <td>
                        <form action="{% url 'appointments_app:book_appointment' %}" method="post">
                            {% csrf_token %}

                            <input type="hidden" name="doctor" value="{{ entry.doctor.pk }}" />
                            <input type="hidden" name="appointment_date" value="{{ entry.appointment_date|date:'c' }}" />
                            <input type="hidden" name="symptoms" value='{{ entry.symptoms }}' />

                            <button type="submit" class="btn btn-primary">Book</button>

                        </form>

                    </td>




                    {% else %}
                    <td></td>
                    {% endif %}



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</div>






{% endif %}

{% endblock %}