{% extends "./base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

{% if messages %}

    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        
        {% endif %}
    
    {% endfor %}

{% endif %}

<h3>Hi! Login page</h3>

<form method="post">

    {% csrf_token %}

    {{ login_form.as_p }}

    <input type="submit" name="submit" value="Submit" />

</form>



{% endblock %}